<div id="create_news_item_dialog" title="Sound off!">
	<form id="submit_news_item" action="/news" method="post">
		<fieldset>
			<textarea id="news_item_content" name="news_item[content]"></textarea>

			<label for="tag_names">Tag :</label>
			<input id="tag_names" type="text" name="tag_names"></input>

			<button id="create_news_item">Add News Item</button>
		</fieldset>
	</form>
</div>
