<% @page_title = "news" %>

<div id="news_content">

<h1>Bulletin Board - News</h1>

<div id="news_items_wrapper">
  <% @news_items.each do |ni| %>
      <%= render :partial => "news_item", :locals => {:object => ni} %>
  <% end %>
</div>

</div>