<% @page_title = "stream" %>

<div id="stream_content">

<h1>This is happening in campus NOW... </h1>

<div id="flash">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
</div>

<% if current_user %>
	<a href="" id="new_news_item">Add news item</a>
<% end %>

<%= render partial: "form" %>

<div id="news_items_wrapper">
  <% @stream.each do |ni| %>
      <%= render :partial => "news_item", :locals => {:object => ni} %>
  <% end %>
</div>

</div>