/*
* SkeleSass V1.0
* Kaushik Gopal
* https://github.com/kaushikgopal/SkeleSass
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* Table of Content
==================================================
  #Site wide styles
  #Page specific styles */

/* #Site wide styles
================================================== */

h1{ text-align: center; color: $dark-cream; }



// jQuery UI styling
.ui-dialog{
	border: 1px solid gray;
	background: $cream;
	padding: 1em 1em 0 1em;

	label{text-align: center;font-size: 1.2em;}
}
.ui-dialog-titlebar{
	margin: 0.1em 0 0.5em 0;

	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

button.ui-dialog-titlebar-close{
	@include hide-text();
	margin-top: -5px;
	background:url(close.png);
	background-size: $icon-medium $icon-medium;
	background-repeat:no-repeat;
	cursor:pointer;
	width: $icon-medium;
	height: $icon-medium;
	border: none;
	float: right;
}

// Flash error boxes

#flash {
	width: 80%;
	margin: 0 auto;

	font-size: 2em;
	font-weight: bold;
	text-align: center;

	#flash_info, #flash_error {
		background-color: $yellow-light;
		border: 0.2em solid $yellow-dark;
		padding: 0.7em;
	}
	#flash_error {
		background-color: $pink;
		border: 0.2em solid red;
		color: red;
	}



}


// ====================================================
//   Navigation Menu
// ====================================================

#main_nav_menu{
	background-color: $cream;

	ul {
		@include clearfix-micro();
		li {
			float: left;
			width: 33%;
			text-align:center;
			margin-bottom: 0;

			a {
				display: block;
				width: 100%;

				color: $maroon;
				font-size: 3em;
				text-decoration: none;

				padding: 1em 0;

				&.selected, &:hover{
					background-color: $maroon;
					color: $dark-cream;
				}
				&.selected{
				}

			}
		}

	}

}

/* #Page specific styles
================================================== */


#create_news_item_dialog{
	#news_item_content{
		height: 10em;
		width: 25.8em;
		font-size: 1.3em;
	}
	#create_news_item{
		margin-bottom: 0;
		width: 100%;
		text-align: center;
	}
	#tag_names{
		float: left;
		width: 100%;
	}
}

.news_item{
		@include clearfix-micro;

		margin: 2em auto;
		width: 70%;

		.metadata, .content{
			background: $cream;
			border: 2px solid $dark-cream;
			height: 150px;
			padding: 1em;
		}

		.metadata{
			float: left;
			width: 130px;

			.profile_info {
				clear: both;
				height: 90px;
				border: 1px solid gray;
			}
			.datetime{
				text-align: center;
				.date{}
				.time{}
			}
		}
		.content{
			float: left;
			margin-left: 10px;
			width: 75%;
			font-size: 1.4em;
			line-height: 1.2em;
			.tags {
				@include clearfix-micro();
				.tag {
					float: left;
					border: 1px solid $dark-cream;
					background-color: $dark-cream;

					font-size: 0.8em;

					padding: 5px;
					margin-right: 10px;

				}
			}
		}
}



// Stream page ----------------------
#stream_content{

	#new_news_item {
		margin-right: 1em;
		position: relative;
		float: right;
		top: -4em;

		@include hide-text();
		background: url('pen.png') no-repeat right top;
		background-size: $icon-large $icon-large;
		cursor:pointer;
		width: $icon-large;
		height: $icon-large;
	}
	.delete_news_item{
	 	float: left;
	 	margin: 50px 0 0 10px;
	 	@include hide-text();
	 	background: url('close.png') no-repeat right top;
	 	width: $icon-large;
		height: $icon-large;

	}

}

