/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                /Users/kaush/projects/dev/github/kanban
                /Users/kaush/projects/dev/github/kanban
        on line 23 of ./app/assets/stylesheets/_helper.scss
        from line 10 of ./app/assets/stylesheets/screen.scss

Backtrace:
./app/assets/stylesheets/_helper.scss:23
./app/assets/stylesheets/screen.scss:10
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/plugin.rb:107:in `method_missing'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/exec.rb:444:in `watch_or_update'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/exec.rb:307:in `process_result'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/exec.rb:41:in `parse'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/lib/sass/exec.rb:21:in `parse!'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/gems/sass-3.2.5/bin/sass:8:in `<top (required)>'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/bin/sass:23:in `load'
/Users/kaush/projects/dev/github/kanban/vendor/bundle/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 /Users/kaush/projects/dev/github/kanban\A                 /Users/kaush/projects/dev/github/kanban\A         on line 23 of ./app/assets/stylesheets/_helper.scss\A         from line 10 of ./app/assets/stylesheets/screen.scss"; }
