<nav id="main_nav_menu">
<ul>
<li><a class="<%= "selected" if @page_title == "news" %>" href="<%= news_path %>">News</a></li>
<li><a class="<%= "selected" if @page_title == "stream" %>" href="<%= stream_path %>">Stream</a></li>
<li><a href="#">Forum</a></li>
</ul>
</nav>